@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.dashboard {
  position: relative;
}

.dashboard.blurred {
  filter: blur(2px);
  pointer-events: none;
  user-select: none;
}

