@use 'sass:color';
@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.card {
  background-color: rgba(255, 255, 255, 1);
  border-radius: $border-radius-xl;
  padding: $spacing-3xl $spacing-2xl;
  max-width: 500px;
  width: 100%;
  position: relative;
  box-shadow: $shadow-xl;
  @include mobile {
    padding: $spacing-2xl $spacing-xl;
  }
}
.checkboxes {
  @include flex-column;
  gap: $spacing-xl;
  margin-bottom: $spacing-3xl;
}

.checkboxLabel {
  // @include  flex-center;
  gap: $spacing-md;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin-top: 2px;
  cursor: pointer;
  accent-color: $dark-green;
  flex-shrink: 0;
}

.checkboxText {
  @include body-base;
  color: $text-secondary;
  line-height: $line-height-relaxed;
}

.continueButton {
  width: 100%;
  padding: $spacing-md $spacing-xl;
  border-radius: $border-radius-md;
  border: none;
  font-size: $font-size-lg;
  font-weight: $font-weight-medium;
  cursor: pointer;
  transition: all $transition-base $transition-ease;

  &.enabled {
    background-color: $button-light;
    color: $secondary-color;

    &:hover {
      background-color: color.adjust($accent-green, $lightness: -5%);
      transform: translateY(-1px);
      box-shadow: $shadow-md;
    }
  }

  &.disabled {
    background-color: $light-mint;
    color: rgba($accent-green, 0.5);
    cursor: not-allowed;
  }
}

