@import '../../../styles/variables';
@import '../../../styles/mixins';

.progressBarContainer {
  width: 100%;
}

.progressBar {
  width: 100%;
  height: 4px;
  background-color: $background-light;
  border-radius: $border-radius-full;
  overflow: hidden;
}

.progressFill {
  height: 100%;
  background-color: $button-light;
  border-radius: $border-radius-full;
  transition: width $transition-base $transition-ease;
}

