@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 9999;
  @include flex-center;
  padding: $spacing-xl;
  pointer-events: auto;
  animation: fadeIn $transition-base $transition-ease;

  @include mobile {
    padding: $spacing-md;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal {
  background-color: $background-white;
  border-radius: $border-radius-xl;
  width: 600px;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: $shadow-xl;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10000;
  pointer-events: auto;
  animation: slideUp $transition-base $transition-ease;

  @include mobile {
    width: 100%;
    max-width: 100%;
    max-height: 95vh;
    border-radius: $border-radius-lg $border-radius-lg 0 0;
    margin-top: auto;
  }

  &.small {
    max-width: 400px;
  }

  &.medium {
    max-width: 600px;
  }

  &.large {
    max-width: 800px;
  }

  &.full {
    max-width: 95vw;
    max-height: 95vh;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modalHeader {
  padding: $spacing-xl $spacing-2xl;
  border-bottom: $border-width-thin solid $border-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  @include mobile {
    padding: $spacing-md $spacing-lg;
  }
}

.modalTitle {
  @include heading-medium;
  color: $text-primary;
  margin: 0;
  font-family: 'Work Sans';
}

.closeButton {
  background: $text-primary;
  border-radius: $border-radius-full;
  border: none;
  cursor: pointer;
  padding: $spacing-xs;
  color: $background-white;
  @include flex-center;
  transition: all $transition-base $transition-ease;
  flex-shrink: 0;
  width: 34px;
  height: 34px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

.modalBody {
  // padding: ;
  flex: 1;
  overflow-y: auto;

  @include mobile {
    padding:0;
  }
}

.modalFooter {
  padding: $spacing-2xl $spacing-3xl;
  border-top: $border-width-thin solid $border-color;
  flex-shrink: 0;

  @include mobile {
    padding: $spacing-xl $spacing-2xl;
  }
}

