@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.label {
  @include body-base;
  color: $text-primary;
  font-weight: $font-weight-medium;
  display: block;
}

.required {
  color: #dc2626;
  margin-left: 2px;
}

