@use '../../../../../styles/variables' as *;
@use '../../../../../styles/mixins' as *;

.page {
  padding: $spacing-xl;

  @include mobile {
    padding: $spacing-md;
  }
}

.headerSection {
  margin-bottom: $spacing-xl;
}

.headerText {
  flex: 1;
}

.title {
  @include heading-large;
  color: $text-primary;
  margin: 0 0 $spacing-sm 0;
  font-family: $font-family-heading;
}

.subtitle {
  @include body-large;
  color: $text-secondary;
  margin: 0;
}

.profileSection {
  padding: $spacing-lg 0;
  border-bottom: $border-width-thin solid $border-color;

  &:last-child {
    border-bottom: none;
  }

  @include mobile {
    padding: $spacing-md 0;
  }
}

