@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.mapSection {
  padding: $spacing-4xl 0;
  background-color: $background-white;

  @include tablet {
    padding: $spacing-3xl 0;
  }

  @include mobile {
    padding: $spacing-2xl 0;
  }
}

.container {
  @include container;
}

.header {
  text-align: center;
  margin-bottom: $spacing-3xl;

  @include tablet {
    margin-bottom: $spacing-2xl;
  }

  @include mobile {
    margin-bottom: $spacing-xl;
  }
}

.title {
  @include heading-medium;
  color: $text-primary;
  margin-bottom: $spacing-lg;
}

.subtitle {
  @include body-large;
  color: $text-primary;
  max-width: 800px;
  margin: 0 auto;
  line-height: $line-height-relaxed;
}

.mapContainer {
  width: 100%;
  border-radius: $border-radius-lg;
  overflow: hidden;
  box-shadow: $shadow-lg;
}

.mapPlaceholder {
  width: 100%;
  background-color: $background-light;

  @include mobile {
    height: auto;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

